<!DOCTYPE html>
<html>
  <head>
    <title>Stock Price Prediction</title>
  </head>

  <body>
    <h1>Stock Predictions</h1>

    <form class="p-3 text-center" action="/" , method="post">
      <select name="language" id="language">
        <option value="NVDA">NVDA</option>
        <option value="GOOGL">GOOG</option>
        <option value="AMZN">AMZN</option>
        <option value="AAPL">AAPL</option>
      </select>
      <input class="btn btn-primary mt-3" type="submit" value="Predict Stock" />
    </form>
  </body>
</html>
